<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="myFortune" class="spring_demo_practice.HappyFortuneService"></bean>
    <bean id="myCoach" class="spring_demo_practice.BaseballCoach">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>
	<bean id="myCricketCoach" class="spring_demo_practice.CricketCoach">
		<property name="theFortuneService" ref="myFortune"></property>
		<property name="emailAddress" value="cricketcoach@gmail.com"></property>
		<property name="team" value="Hydro Blap"></property>
	</bean>
    
</beans>





